@import "../../css-config/mixins.scss";

.single-item-container {
  font-family: "Anuphan", sans-serif;
  display: flex;
  flex-direction: column;

  //   justify-content: center;
  background-color: #cdd3ff;
  // background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  // background: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2127&q=80")
  //   no-repeat center center/cover;
  // box-shadow: inset 0 0 10em 2em #000;
  @include md {
    // height: 900px;
    justify-content: center;
    align-items: center;
  }
  .preloader {
    background: url("../../assets/Loaders/grey_style.gif") no-repeat center
      center/cover;
    background-size: 20%;
    top: 0;
    position: fixed;
    z-index: 100;
    // height: calc(100vh + 400px);
    height: 100vh;
    padding-bottom: 100px;
    width: 100%;
    background-color: black;
    @include md {
      background-size: 8%;
      margin-top: -50px;
    }
  }
  .singleItem-layout {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
      margin: 60px;
      max-width: 1200px;
      // margin: auto;
      flex-direction: row;
      justify-content: space-between;
    }
    // justify-content: center;
    .right-content {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      margin: 30px;
      @include md {
        padding: 20px;
        height: 100%;
      }
      h1 {
        font-size: 23px;
        margin-bottom: 14px;
        // border-bottom: 2px solid black;
        @include md {
          font-size: 40px;
        }
      }

      .recipe-list {
        display: flex;
        flex-direction: column;
        border-left: 2px solid black;
        border-top: 2px solid black;
        // align-items: center;
        li {
          padding: 9px 11px;
          margin: 4px 0;
          // text-align: center;
          // background-color: #042c2791;
          border-radius: 25px;
          font-weight: 600;
          color: rgb(0, 0, 0);
          font-size: 15px;

          @include md {
            font-size: 25px;
          }
        }
      }
    }
  }
}
