@import "../../css-config/mixins.scss";
.search-container {
  padding-top: 30px;
  // background: linear-gradient(to right, #f47878, #922424);
  min-height: calc(100vh - 20px);
  background-color: #ffffff;
  // background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  background: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2127&q=80")
    no-repeat center center/cover;
  box-shadow: inset 0 0 22em 5em #000;
  font-family: "Anuphan", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include md {
    padding-bottom: 100px;
    box-shadow: inset 0 0 6em 2em #000;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .query-none {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.347);
    color: white;
    padding: 15px;
    height: 200px;
    border-radius: 15px;
    @include md {
      height: 400px;
    }
    .text {
      font-size: 24px;
      font-weight: 600;
      @include md {
        font-size: 45px;
      }
    }
    svg {
      font-size: 50px;
      @include md {
        font-size: 100px;
        padding: 20px;
      }
    }
  }

  .searched-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
      align-items: center;
      justify-content: center;
      flex-flow: wrap;
    }
  }
}
